@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>consumir api com httpclientfactory</h3>
    <img src="~/https://i.imgur.com/W3nVCT2.png" asp-append-version="true">
</div>
