@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>consumir api com httpclientfactory</h3>
    <img src="~/Imagens/karthus-lol-splash-art-uhdpaper.com-4K-396.jpg" asp-append-version="true">
</div>
